
html {
	background-color: #00539F;
	display: flex;
	justify-content: center;	
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	padding: 3%;
}

/*#personnage{
	border: 1px solid black;

}

.mechants{
	border: 1px solid black;

}*/



